.code-keyword {
  color: #0069c2;
}

.code-constant {
  color: #007936;
}

.code-annotation {
  color: rgba(0, 0, 0, 0.3);
}

.code-function {
  color: #d30038;
}

.code-number {
  color: #f08d49;
}

code {
  font-family: 'consalas';
}

pre {
  background-color: #f2f1f1;
  padding: 5px;
  border-radius: 2px;
  line-height: auto;
}